<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %} {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
			{% load staticfiles %}
	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
	<link href="{% static 'css/style.css'%}" rel="stylesheet">
	    <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
	

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
  

</head>

<body {% block background_image_style %}  style="background-image: url({% static 'img/simple-gray-texture.jpg'%});" {% endblock %}>
<!-- <body style="background-image: url({% static 'img/transp_bg.png'%});"> -->


<nav class="navbar navbar-default top_nav" role="navigation" >
				
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
				
				
									<ul class="nav navbar-nav navbar-left">
					
					
					
					<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-file fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/projectspecs/new-project"><i class="fa fa-plus-square fa-fw"></i> New Project</a>
                        </li>
                        <li>
                        <!-- <a    href="#openfile_modal" role="button" class="btn" data-toggle="modal">Launch demo modal</a> -->
                        <a  href="#openfile_modal"  data-toggle="modal" ><i class="fa fa-folder-open fa-fw"></i> Open Project</a>  
                        </li>
                        <li><a href="#"  id="save_project_link"><i class="fa fa-floppy-o fa-fw"></i> Save Project</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
					</ul>
					<div class="navbar-header">
					 <a class="navbar-brand" href="/">Framework.com    - {{file_name}}</a>
				</div>
					
					
					
					
					
					<ul class="nav navbar-nav navbar-right">
					
					
					
					<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                
                
   
					</ul>
				</div>
				
			</nav>
<div class="container">
 


					<!-- - FORM MODAL -->
					<div class="col-md-6 column">
			<div class="modal fade" id="openfile_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="width:250px">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								Open Project
							</h4>
						</div>
						<div class="modal-body">
						
						<div class="form-group">
						<ul >
						{% for mykey,myvalue in open_el_array.items %}
						<li ><a href="/projectspecs/open-project/{{mykey}}" > {{myvalue}} </a> </li>
						{% endfor%}
						</ul>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--  END OF  FORM MODAL -->
		
		
		
							<!-- - FORM MODAL -->
					<div class="col-md-6 column">
				<a id="check_change_form_href" style="display:none;" href="#check_change_form" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
					
			<div class="modal fade" id="check_change_form" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="width:250px">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								Save Project?
							</h4>
						</div>
						<div class="modal-body">
						
						<div class="form-group">
						The project is modified would you like to save it?
						</div>
							<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							  <input  id="submit_trigger_modal"   type="submit" class="btn btn-primary">
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--  END OF  FORM MODAL -->

							{% block content %} {% endblock %}
</div>



	<script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/scripts.js'%}"></script>
	<script type="text/javascript">

jQuery(document).ready(function(){
	
	
	
	jQuery("#save_project_link").on("click",function(e){
		e.preventDefault();
		 file_name = jQuery("#input_file_name").val();
		 
		 
		  
		 if(!file_name){
			 jQuery("#modal_trigger_href").trigger("click")
		 }
		 else{
			 jQuery("form").submit();
		 }
	})
	
})


// FOR ARCHTECURE DYNAMIC SELECT

	jQuery("#prog_lang").on("change",function(){
		prog_lang = jQuery("#prog_lang").val();
		
	    
	    if(prog_lang == 'php')
	    	jQuery("#select_arch").find('option').remove().end().append('<option value="wordpress">Wordpress</option><option value="drupal">Drupal</option><option value="opencart">Opencart</option><option value="magento">Magento</option>');
	    else if(prog_lang =='ruby'){
	    console.log("rubty")	
	    	jQuery("#select_arch").find('option').remove().end().append('<option value="ror">Ruby on Rails</option>');
	    }
	    else if(prog_lang =='python')
	    	jQuery("#select_arch").find('option').remove().end().append('<option value="django">Django</option><option value="fullstack">Full Stack</option>');
		
	})
	
	
	
 


</script>
</body>
</html>