{% extends "common/header.html" %}
{% block title %}{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
 
	<div class="row clearfix">
<br><br>	
		<div class="col-md-12 column">
			<div class="tabbable" id="tabs-698628">
			<!-- MAIN TABS -->
						<ul class="nav nav-tabs">
					<li  >
						<a href="/projectspecs/project-info/"  >Project Information</a>
					</li>
					<li  >
						<a href="/projectspecs/introduction/">Requirements</a>
					</li>
					<li>
						<a href="/projectspecs/use-case/" >Usecase Information</a>
					</li>
					<li class="active">
						<a href="/projectspecs/io-config/"  >Input & Output Configuration</a>
					</li>
					<li>
						 <button type="button" class="btn btn-default">Generate</button>
					</li>
				</ul>
				<!--  END OF MAIN TABS -->
				
				<!--  MAIN TABS CONTENT -->
				<div class="tab-content">
		 
					
					<div class="tab-pane active " id="io_config">
 

		<div class="col-md-12 column">
		<div class="row clearfix">
				<div class="col-md-2 column" style="border:2px solid grey">
					<ol class="">
						<li>
							Lorem ipsum dolor sit amet
						</li>
						<li>
							Consectetur adipiscing elit
						</li>
						<li>
							Integer molestie lorem at massa
						</li>
						<li>
							Facilisis in pretium nisl aliquet
						</li>
						<li>
							Nulla volutpat aliquam velit
						</li>
						<li>
							Faucibus porta lacus fringilla vel
						</li>
						<li>
							Aenean sit amet erat nunc
						</li>
						<li>
							Eget porttitor lorem
						</li>
					</ol>
				</div>
				<div class="col-md-10 column">
					<form role="form"    class="form-inline" action="."  method="POST">{% csrf_token %}
					
 
		
						<div class="form-inline  ">
							<div class="form-group">
								<label for="input_cust_name">Usecase Id</label><input type="text" class="form-control"  value="{{json_data.io_config.cust_name}}"  id="input_cust_name" name="cust_name" />
							</div>
									<div class="form-group" style="vertical-align:bottom">
								<button  class="form-control"> Save</button>
							</div>
									<div class="form-group" style="vertical-align:bottom">
								<button class="form-control"> Delete</button>
							</div>
						</div>
						 
						
																<div class="col-md-6 column">
			 <a id="modal_trigger_href" style="display:none;" href="#modal-container-543351" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
			
			<div class="modal fade" id="modal-container-543351" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="width:250px">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								Modal title
							</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
							 <label for="input_file_name">File name</label><input type="text" class="form-control"    value="{{json_data.file_name}}" name="file_name" id="input_file_name" />
						</div>
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							  <input  id="submit_trigger_modal"   type="submit" class="btn btn-primary">
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
					</form>
				</div>
				
				
				</div>
			</div>
			
		</div>
		
				
 
				<!--  END OF REQUIREMENTS TAB -->
						</p>
					</div>
			 
				 
				</div>
				<!--  END OF MAIN TABS CONTENT -->
				
			</div>
			
			

				
				
		</div>
	</div>
{% endblock %}
