{% extends "common/header.html" %}
{% block title %}{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
 
	<div class="row clearfix">
<br><br>	
		<div class="col-md-12 column">
			<div class="tabbable" id="tabs-698628">
			<!-- MAIN TABS -->
						<ul class="nav nav-tabs">
					<li  >
						<a href="/project-info/"  >Project Information</a>
					</li>
					<li  >
						<a href="/introduction/">Requirements</a>
					</li>
					<li>
						<a href="/use-case/" >Usecase Information</a>
					</li>
					<li class="active">
						<a href="/io-config/"  >Input & Output Configuration</a>
					</li>
					<li>
						 <button type="button" class="btn btn-default">Generate</button>
					</li>
				</ul>
				<!--  END OF MAIN TABS -->
				
				<!--  MAIN TABS CONTENT -->
				<div class="tab-content">
		 
					
					<div class="tab-pane active " id="io_config">
 

		<div class="col-md-12 column">
		<div class="row clearfix">
				<div class="col-md-2 column" style="border:2px solid grey">
					<ol class="">
						<li>
							Lorem ipsum dolor sit amet
						</li>
						<li>
							Consectetur adipiscing elit
						</li>
						<li>
							Integer molestie lorem at massa
						</li>
						<li>
							Facilisis in pretium nisl aliquet
						</li>
						<li>
							Nulla volutpat aliquam velit
						</li>
						<li>
							Faucibus porta lacus fringilla vel
						</li>
						<li>
							Aenean sit amet erat nunc
						</li>
						<li>
							Eget porttitor lorem
						</li>
					</ol>
				</div>
				<div class="col-md-10 column">
					<form role="form" >
						<div class="form-inline  ">
							<div class="form-group">
								<label for="input_cust_name">Usecase Id</label><input type="text" class="form-control" id="input_cust_name" />
							</div>
									<div class="form-group" style="vertical-align:bottom">
								<button  class="form-control"> Save</button>
							</div>
									<div class="form-group" style="vertical-align:bottom">
								<button class="form-control"> Delete</button>
							</div>
						</div>
					</form>
				</div>
				
				
				</div>
			</div>
			
		</div>
		
				
 
				<!--  END OF REQUIREMENTS TAB -->
						</p>
					</div>
			 
				 
				</div>
				<!--  END OF MAIN TABS CONTENT -->
				
			</div>
			
			

				
				
		</div>
	</div>
{% endblock %}
