{% extends "common/header.html" %}
{% block title %}{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
 
	<div class="row clearfix">
<br><br>	
		<div class="col-md-12 column">
			<div class="tabbable" id="tabs-698628">
			<!-- MAIN TABS -->
				<ul class="nav nav-tabs">
					<li>
						<a href="/projectspecs/project-info"  >Project Information</a>
					</li>
					<li   class="active" >
						<a href="/projectspecs/introduction">Requirements</a>
					</li>
					<li>
						<a href="/projectspecs/use-case" >Usecase Information</a>
					</li>
					<li>
						<a href="/projectspecs/io-config"  >Input & Output Configuration</a>
					</li>
					<li>
						 <button type="button" class="btn btn-default">Generate</button>
					</li>
				</ul>
				<!--  END OF MAIN TABS -->
				
				<!--  MAIN TABS CONTENT -->
				<div class="tab-content">
					 
					
					<div class="tab-pane active" id="panel_requirements">
						<p>
						
						<!--  REQUIREMENTS TAB -->
						
						
						
						<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
	 
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
						<li >
							<a href="/projectspecs/introduction">Introduction</a>
						</li>
						<li>
							<a href="/projectspecs/background ">Background</a>
						</li>
							<li >
							<a href="/projectspecs/prod-info ">Product Information</a>
						</li>
						<li>
							<a href="/projectspecs/features">Features</a>
						</li>
						<li >
							<a href="/projectspecs/non-func-1">Non Functional - 1</a>
						</li>
						<li>
							<a href="/projectspecs/non-func-2">Non Functional - 2</a>
						</li>
						<li >
							<a href="/projectspecs/non-func-3">Non Functional - 3</a>
						</li>
						<li>
							<a href="/projectspecs/environment">Environment</a>
						</li>
						<li >
							<a href="/projectspecs/add-dev-cons">Additional Dev Considerations</a>
						</li>
						<li   class="active">
							<a href="/projectspecs/post-dev">Post Development</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
									<form " role="form" class="form-inline"  action="." method="POST">{% csrf_token %}
		
									<!-- - FORM MODAL -->
 			 <a id="modal_trigger_href" style="display:none;" href="#modal-container-543351" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
			
			<div class="modal fade" id="modal-container-543351" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="width:250px">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								Modal title
							</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
							 <label for="input_file_name">File name</label><input type="text" class="form-control"    value="{{json_data.file_name}}" name="file_name" id="input_file_name" />
						</div>
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							  <input  id="submit_trigger_modal"   type="submit" class="btn btn-primary">
						</div>
					</div>
					
				</div>
				
			</div>
			
 		
		<!--  END OF  FORM MODAL -->
		
				<div class="col-md-12 column">
						
					<label for="input_tech_transfer_req">Technology Transfer Requirements</label>
					<textarea rows="3" cols="100%" class="form-control" id="input_tech_transfer_req"  name="tech_transfer_req">{{json_data.tech_transfer_req}}</textarea>
					
					<label for="input_maintenance_req">Maintenance Requirements</label>
					<textarea rows="3" cols="100%" class="form-control" id="input_maintenance_req"  name="maintenance_req">{{json_data.maintenance_req}}</textarea>
					
				</div>
		
		</form>
		
 
				<!--  END OF REQUIREMENTS TAB -->
						</p>
					</div>
					<div class="tab-pane " id="panel_usecase_info">
						<p>
							Howdy, I'm in Section 2.
						</p>
					</div>
					<div class="tab-pane " id="panel_io_config">
						<p>
							Howdy, I'm in Section 2.
						</p>
					</div>
				 
				</div>
				<!--  END OF MAIN TABS CONTENT -->
				
			</div>
			
			

				
				
		</div>
	</div>
{% endblock %}
