{% extends "common/header.html" %}
{% block title %}{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
 
 
	<div class="row clearfix">
<br><br>	
		<div class="col-md-12 column">
			<div class="tabbable" id="tabs-698628">
			<!-- MAIN TABS -->
				<ul class="nav nav-tabs">
					<li class="active" >
						<a href="/projectspecs/project-info/"  >Project Information</a>
					</li>
					<li  >
						<a href="/projectspecs/introduction/">Requirements</a>
					</li>
					<li>
						<a href="/projectspecs/use-case/" >Usecase Information</a>
					</li>
					<li>
						<a href="/projectspecs/io-config/" >Input & Output Configuration</a>
					</li>
					<li>
						 <button type="button" class="btn btn-default">Generate</button>
					</li>
				</ul>
				<!--  END OF MAIN TABS -->
				
				<!--  MAIN TABS CONTENT -->
				<div class="tab-content">
					<div class="tab-pane  active" id="panel_project_info">
						<p>
							<div class="col-md-12 column">
					<form " role="form" class="form-inline"  action="." method="POST">{% csrf_token %}
					
					
					
 
					 
					<!-- - FORM MODAL -->
					<div class="col-md-6 column">
			 <a id="modal_trigger_href" style="display:none;" href="#modal-container-543351" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
			
			<div class="modal fade" id="modal-container-543351" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="width:250px">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								Modal title
							</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
							 <label for="input_file_name">File name</label><input type="text" class="form-control"    value="{{json_data.file_name}}" name="file_name" id="input_file_name" />
						</div>
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							  <input  id="submit_trigger_modal"   type="submit" class="btn btn-primary">
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
		
		<!--  END OF  FORM MODAL -->
					 <input type="submit" class="form-control"  id="form_submit"  style="visibility:hidden"> 
						<div class="form-group">
							 <label for="input_project_info">Project Information</label><input type="text" class="form-control"    value="{{json_data.project_info}}" name="project_info" id="input_project_info" />
						</div>
						<div class="form-group">
							 <label for="input_project_code">Project Code</label><input type="text" class="form-control"  value="{{json_data.project_code}}"  name="project_code" id="input_project_code" />
						</div>
						<div class="form-group">
							 <label for="input_prog_lang">Programming Language</label>
							 <select class="form-control"  name="prog_lang" id="prog_lang" >
							 <option    {% if  json_data.prog_lang == "php" %} selected   {% endif %} value="php" >PHP</option>
							 <option   {% if  json_data.prog_lang == "python" %} selected   {% endif %} value="python">Python</option>
							 <option   {% if  json_data.prog_lang == "ruby" %} selected   {% endif %} value="ruby">Ruby</option>	
							 </select>
						</div>
						<div class="form-group">
							 <label for="input_database">Database</label>
							 <select class="form-control"  name="database">
							 <option  {% if  json_data.database == "sqllite" %} selected   {% endif %} value="sqllite">SQLite</option>
							 <option {% if  json_data.database == "mysql" %} selected   {% endif %}  value="mysql">MYSQL</option>
							 <option  {% if  json_data.database == "postgres" %} selected   {% endif %} value="postgres">POSTGRES</option>
							 <option  {% if  json_data.database == "mongodb" %} selected   {% endif %} value="mongodb">MongoDB</option>
							 </select>
						</div>
						<br>
						<div class="form-group">
							 <label for="input_process_model">Process model</label>
							 <select class="form-control" name="process_model" >
							 <option    {% if  json_data.process_model == "waterfall" %} selected   {% endif %} value="waterfall">WaterFall Model</option>
							 <option   {% if  json_data.process_model == "vmodel" %} selected   {% endif %} value="vmodel">V Model</option>
							 <option    {% if  json_data.process_model == "spiralmodel" %} selected   {% endif %} value="spiralmodel">Spiral Model</option>
							 </select>
						</div>
						<div class="form-group">
							 <label for="input_architecture">Architecture</label>
							 <select class="form-control"  name="architecture" id="select_arch">
							 {% if json_data.prog_lang%}
							 {% if  json_data.prog_lang == "php" %}
							 <option  {% if  json_data.architecture == "wordpress" %} selected   {% endif %}  value="wordpress">Wordpress</option>
							 <option  {% if  json_data.architecture == "drupal" %} selected   {% endif %}  value="drupal">Drupal</option>
							 <option  {% if  json_data.architecture == "opencart" %} selected   {% endif %}  value="opencart">Opencart</option>
							 <option  {% if  json_data.architecture == "magento" %} selected   {% endif %}  value="magento">Magento</option>
							 {% endif %}
							 
							 {% if  json_data.prog_lang == "python" %}
							 <option  {% if  json_data.architecture == "fullstack" %} selected   {% endif %}  value="fullstack">Full Stack</option>
							 <option  {% if  json_data.architecture == "django" %} selected   {% endif %}  value="django">Django</option>
							 {% endif %}
							 
							 {% if  json_data.prog_lang == "ruby" %}
							 <option  {% if  json_data.architecture == "ror" %} selected   {% endif %}  value="ror">Ruby on Rails</option>
							 {% endif %}
							{% else %}
							<option  {% if  json_data.architecture == "wordpress" %} selected   {% endif %}  value="wordpress">Wordpress</option>
							 <option  {% if  json_data.architecture == "drupal" %} selected   {% endif %}  value="drupal">Drupal</option>
							 <option  {% if  json_data.architecture == "opencart" %} selected   {% endif %}  value="opencart">Opencart</option>
							 <option  {% if  json_data.architecture == "magento" %} selected   {% endif %}  value="magento">Magento</option>
							
							{% endif %}
							 </select>
						</div>
						<div class="form-group">
							 <label for="input_cust_name">Customer Name</label><input type="text" class="form-control" id="input_cust_name" value="{{json_data.cust_name}}"  name="cust_name" />
						</div>
						<div class="form-group">
							 <label for="input_cust_code">Customer Code</label><input type="text" class="form-control" id="input_cust_code"    value="{{json_data.cust_code}}"  name="cust_code"/>
						</div>
						<br>
						<div class="form-group">
							 <label for="input_cust_addr">Customer Address</label>
							 <textarea rows="10" cols="20" class="form-control" id="input_cust_addr" name="cust_addr"    />{{json_data.cust_addr}}</textarea>
						</div>
						
						
					 
					
						
					</form>
				</div>
						</p>
					</div>
					
					<div class="tab-pane active" id="panel_requirements">
						<p>
						
						<!--  REQUIREMENTS TAB -->
						
						
						
 
		
		
 
				<!--  END OF REQUIREMENTS TAB -->
						</p>
					</div>
	 
 
				 
				</div>
				<!--  END OF MAIN TABS CONTENT -->
				
			</div>
			
			

				
				
		</div>
	</div>
{% endblock %}
