{% extends "common/header.html" %}
{% block title %}{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
 
	<div class="row clearfix">
<br><br>	
		<div class="col-md-12 column">
			<div class="tabbable" id="tabs-698628">
			<!-- MAIN TABS -->
				<ul class="nav nav-tabs">
					<li>
						<a href="/projectspecs/project-info/"  >Project Information</a>
					</li>
					<li  >
						<a href="/projectspecs/introduction/">Requirements</a>
					</li>
					<li  class="active" >
						<a href="/projectspecs/use-case/" >Usecase Information</a>
					</li>
					<li>
						<a href="/projectspecs/io-config/" >Input & Output Configuration</a>
					</li>
					<li>
						 <button type="button" class="btn btn-default">Generate</button>
					</li>
				</ul>
				<!--  END OF MAIN TABS -->
				
				<!--  MAIN TABS CONTENT -->
				<div class="tab-content">
		 
					
					<div class="tab-pane active" id="use_case_info">
 

		<div class="col-md-12 column">
		<div class="row clearfix">
				<div class="col-md-2 column" style="border:2px solid grey">
					<ul class="list-unstyled">
						<li>
							Lorem ipsum dolor sit amet
						</li>
						<li>
							Consectetur adipiscing elit
						</li>
						<li>
							Integer molestie lorem at massa
						</li>
						<li>
							Facilisis in pretium nisl aliquet
						</li>
						<li>
							Nulla volutpat aliquam velit
						</li>
						<li>
							Faucibus porta lacus fringilla vel
						</li>
						<li>
							Aenean sit amet erat nunc
						</li>
						<li>
							Eget porttitor lorem
						</li>
					</ul>
				</div>
				
				
				
				<div class="col-md-10 column">
												<form " role="form" class="form-inline"  action="." method="POST">{% csrf_token %}
		
									<!-- - FORM MODAL -->
			 
			 <a id="modal_trigger_href" style="display:none;" href="#modal-container-543351" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
			
			<div class="modal fade" id="modal-container-543351" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="width:250px">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								Modal title
							</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
							 <label for="input_file_name">File name</label><input type="text" class="form-control"    value="{{json_data.file_name}}" name="file_name" id="input_file_name" />
						</div>
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							  <input  id="submit_trigger_modal"   type="submit" class="btn btn-primary">
						</div>
					</div>
					
				</div>
				
			</div>
			
 
		
		<!--  END OF  FORM MODAL -->
							<div class="form-inline small_form-inline">
							<div class="form-group">
							 <label for="input_usecase_id">Usecase Id</label><input type="text" class="form-control" id="input_usecase_id" name="usercase_id" value="{{json_data.usecase.usercase_id}}" />
						</div>
						<div class="form-group">
							 <label for="input_usecase_name">Usecase Name</label><input type="text" class="form-control" id="input_usecase_name" name="usecase_name"  value="{{json_data.usecase.usecase_name}}"/>
						</div>
						<div class="form-group">
							 <label for="input_usercase_code_priority">Priority</label>
							 <select class="form-control" id="input_usercase_code_priority" name="usercase_code_priority" >
							 <option>Top</option>
							 <option>Normal</option>
							 </select>
						</div>
						<div class="form-group">
							 <label for="input_usercase_author">Author</label><input type="text" class="form-control" id="input_usercase_author"  name="usercase_author" value="{{json_data.usercase_author}}"/>
						</div>
						<div class="form-group">
							 <label for="input_usecase_date">Date</label><input type="text" class="form-control" id="input_usecase_date" name="usecase_date"  value="{{json_data.usecase_date}}"/>
						</div>
						<div class="form-group">
							 <label for="input_usecase_version">Version</label><input type="text" class="form-control" id="input_usecase_version"  name="usecase_version" value="{{json_data.usecase_version}}"/>
						</div>
						</div>
						<div class="col-md-4 column"  style="padding-left:0px;">
						<div class="form-group">
							 <label for="input_usecase_actions">Actions</label><input type="text" class="form-control" id="input_usecase_actions" name="usecase_actions"  value="{{json_data.usecase_actions}}"/>
						</div>
						<div class="form-group">
							 <label for="input_usecase_frequency">Frequency of use</label><input type="text" class="form-control" id="input_usecase_frequency"  name="usecase_frequency" value="{{json_data.usecase_frequency}}"/>
						</div>
						</div>
						<div class="form-group col-md-8 column" >
							 <label for="input_usecase_breif_desc">Brief Description</label>
							  <textarea rows="5" cols="50%" class="form-control" id="input_usecase_breif_desc" name="usecase_breif_desc"  >{{json_data.usecase_breif_desc}}</textarea>
						</div>
				
				
						<div class="form-group col-md-6 column" >
							 <label for="input_usecase_pre_cond">Pre Conditions</label>
							  <textarea rows="5" cols="50%" class="form-control" id="input_usecase_pre_cond"  name="usecase_pre_cond" >{{json_data.usecase_pre_cond}}</textarea>
						</div>
						<div class="form-group col-md-6 column" >
							 <label for="input_usecase_post_cond">Post Conditions</label>
							  <textarea rows="5" cols="50%" class="form-control" id="input_usecase_post_cond" name="usecase_post_cond">{{json_data.usecase_post_cond}}</textarea>
						</div>
						<div class="form-group col-md-6 column" >
							 <label for="input_usecase_basic_flow">Basic Flow</label>
							  <textarea rows="5" cols="50%" class="form-control" id="input_usecase_basic_flow" name="usecase_basic_flow" >{{json_data.usecase_basic_flow}}</textarea>
						</div>
						<div class="form-group col-md-6 column" >
							 <label for="input_usecase_alt_flow">Alternative Flow</label>
							  <textarea rows="5" cols="50%" class="form-control" id="input_usecase_alt_flow"  name="usecase_alt_flow">{{json_data.usecase_alt_flow}}</textarea>
						</div>
						<div class="form-group col-md-6 column" >
							 <label for="input_usecase_incl">Includes</label>
							  <textarea rows="5" cols="50%" class="form-control" id="input_usecase_incl"  name="usecase_incl">{{json_data.usecase_incl}}</textarea>
						</div>
						<div class="form-group col-md-6 column" >
							 <label for="input_usecase_ext_point">Extenstion Point</label>
							  <textarea rows="5" cols="50%" class="form-control" id="input_usecase_ext_point" name="usecase_ext_point" >{{json_data.usecase_ext_point}}</textarea>
						</div>
						<div class="form-group col-md-6 column" >
							 <label for="input_usecase_business_rules">Business Rules</label>
							  <textarea rows="5" cols="50%" class="form-control" id="input_usecase_business_rules" name="usecase_business_rules" >{{json_data.usecase_business_rules}}</textarea>
						</div>
						<div class="form-group col-md-6 column" >
							 <label for="input_usecase_spl_req">Spl Requirements</label>
							  <textarea rows="5" cols="50%" class="form-control" id="input_usecase_spl_req" name="usecase_spl_req" >{{json_data.usecase_spl_req}}</textarea>
						</div>
						
						
						</form>
						</div>
						
				</div>
			</div>
			
		</div>
		
				
 
				<!--  END OF REQUIREMENTS TAB -->
						</p>
					</div>
			 
				 
				</div>
				<!--  END OF MAIN TABS CONTENT -->
				
			</div>
			
			

				
				
		</div>
	</div>
{% endblock %}
