{% extends "common/header.html" %}
{% block title %} {% endblock %}
{% block head %}Login{% endblock %}
{% block content %}
	<div class="row clearfix">
	<br><br>
		<div class="col-md-4 column">
		
		</div>
		<div class="col-md-4 column">
			<div class="jumbotron">
				<h2>
					Frameworks.com
				</h2>
				</div>
	      <form method="post" action=".">{% csrf_token %}
 
    {% if form.errors %}
     		<div class="alert alert-dismissable alert-danger">
				 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		 User name or password is incorrect 
			</div>
    {% endif %}				<div class="form-group">
					 <label for="exampleInputEmail1">User name</label> <input type="text" class="form-control" name="username"  id="exampleInputEmail1" />
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">Password</label> <input type="password"  name="password" class="form-control" id="exampleInputPassword1" />
				</div>
				 
				<div class="checkbox">
				</div> <button type="submit" class="btn btn-default">Login</button>
				        <input type="hidden" name="next" value="/project-info" />
			</form>
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
{% endblock %}
